header {
    background-color: #F2C94C;
    padding: 2rem;
    font-size: 4rem;
    margin-bottom: 10rem;
    text-align: center;
}

main {
    margin-top: 3rem;
    padding: 1rem;
    margin: auto;
    height: 50rem;
}

.input-text {
    width: 80%;
    margin-left: 2rem;
}

.output {
    border: 3px solid #f2c94c;
    font-size: 1.5rem;
    height: 15rem;
}

footer {
    background-color: #F2C94C;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.about {
    font-size: 3.5rem;
}

.btn-translate {
    background-color: #f2c94c;
    color: #4A4A4A;
    font-size: 2rem;
    border: none;
    padding: 2rem 4rem;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;
    transition: all .2s;
    position: relative;
    margin-left: 5rem;

}

.btn-translate:hover {
    transform: translateY(-3px) scale(1.1);
    outline: none;
}